[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metavcov"]
	path = metavcov
	url = https://github.com/luminwin/metavcov
[submodule "varGuid"]
	path = varGuid
	url = https://github.com/luminwin/varguid
[submodule "varGuidTS"]
	path = varGuidTS
	url = https://github.com/cran/varGuidTS
